<h1>Edit Status</h1>

<form action="/status/<%= @status.id %>" method="POST">
<input type="hidden" name="_method" value="PUT">
<label>Status</label>
<input type="text" name="body" value="<%= @status.body %>">
<br />
<br />
<label>Tags:</label>
<input type="text" name="tags" value="<%= @tags %>">
<br />
<br />
<input type="submit" value="Edit my awesome status">
</form>

<form action="/status/<%= @status.id %>/delete" method="POST">
<input type="hidden" name="_method" value="DELETE">

  <input type="submit" value="Delete">
  </form>