<h1>New Status</h1>




<form action="/status" method="POST">
<label>Status</label>
<input type="text" name="body">
<br />
<br />
<label>Tags:</label>
<input type="text" name="tags">
<br />
<br />
<br />

<input type="submit" value="Post">
</form>

